@model ProspectiveUserInputModel
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome,</h1>

<p>Please confirm your email address to get started.</p>

<form
    asp-area="Enroll"
    asp-controller="SignUp"
    asp-action="RegisterProspectiveUser"
    method="post"
>
    <div class="mt-4">
        <label for="email-address-input" class="form-label">Enter email address</label>
        <input type="email" class="form-control" id="email-address-input" asp-for="Email">

        <div class="d-grid col-6 mt-3 mx-auto">
            <button type="submit" class="btn btn-secondary btn-md">Continue</button>
        </div>
    </div>
</form>
