
@{
    ViewData["Title"] = "Register TOTP Access Successful";
}

<p>Congrats! You have successfully signed up with us.</p>

<p>Protecting your data is our top priority. Using a TOTP based login helps us keep your data safe. Learn more about how we keep your data safe, here.</p>
<p>Please use your email & TOTP code generated from the authenticator app to sign in with us from now on.</p>
<p>If you lose access to your authenticator app, select ‘Reset TOTP Access’ from the sign in page.</p>

<div class="d-grid col-10 mt-4 mx-auto">
    <button type="button" class="btn btn-secondary btn-md">Continue to dashboard</button>
</div>
