@model RegisterTOTPAccessInputModel
@{
    ViewData["Title"] = "Register TOTP Access";
}

<p class="lh-1">Email confirmed.</p>

<p>Use an authenticator app to scan the QR code below then enter the 6-digit code generated from the app.</p>

<div class="text-center"><canvas id="totp-auth-qr-code"></canvas></div>
<p><a id="copy-secret-key" class="d-block text-center lh-1">Copy secret key</a></p>

<div class="mt-4 text-danger" asp-validation-summary="ModelOnly"></div>
<form
    asp-area="Enroll"
    asp-controller="SignUp"
    asp-action="RegisterTOTPAccess"
    method="post"
>
    <div class="mt-4">
        <label for="totp-code-input" class="form-label">Enter TOTP code</label>
        <input type="number" class="form-control" id="totp-code-input" asp-for="TOTPCode">
        <span asp-validation-for="TOTPCode" class="text-danger"></span>

        <input type="email" asp-for="Email" value="@Model.Email" hidden>
        <input type="text" asp-for="AuthenticatorKey" value="@Model.AuthenticatorKey" hidden>
        <input type="text" asp-for="AuthenticatorKeyUri" value="@Model.AuthenticatorKeyUri" hidden>
        <input type="text" asp-for="SessionVerificationTOTPCode" value="@Model.SessionVerificationTOTPCode" hidden>

        <div class="d-grid col-6 mt-3 mx-auto">
            <button type="submit" class="btn btn-secondary btn-md">Continue</button>
        </div>
    </div>
</form>

@section scripts {
    <script src="~/lib/qrcode/build/qrcode.js"></script>
    <script type="text/javascript" src="~/js/generate-qrcode.js"></script>
}
