
@{
    ViewData["Title"] = "Find Email Successful";
}

<p>Success</p>

<p>We have found your email address. Use this email to sign in with us.</p>

<p>Email Address here</p>

<div class="mt-4">
    <div class="d-grid col-8 mt-3 mx-auto">
        <button type="button" class="btn btn-secondary btn-md">Continue to Sign In</button>
    </div>
</div>
