
@{
    ViewData["Title"] = "Find Email Tips";
}

<p>If you don't have access to any correspondence documents or email, you can try the following methods to find the email.</p>

<ul>
    <li>Check your authenticator app. Usually they will show you the email/username associated with the account.</li>
    <li>If you saved the credentials in a password manager, chances are you also saved the TOTP seed. Check your password manager for this site.</li>
</ul>

<div class="mt-4">
    <div class="d-grid col-8 mt-3 mx-auto">
        <button type="button" class="btn btn-secondary btn-md">Continue to Sign In</button>
    </div>
</div>
