
@{
    ViewData["Title"] = "Find Email";
}

<p>Find email</p>

<p>Please enter your Unique User ID, found on our correspondence documents & emails.</p>

<div class="mt-4">
    <label for="unique-user-id-input" class="form-label">Enter Unique User ID</label>
    <input type="text" class="form-control" id="unique-user-id-input">
    <div class="d-grid col-12 mx-auto">
        <button type="button" class="btn btn-link btn-sm">Don't have access to Unique User ID? Try these methods to find your email.</button>
    </div>

    <div class="d-grid col-6 mt-3 mx-auto">
        <button type="button" class="btn btn-secondary btn-md">Continue</button>
    </div>
</div>
