@model ResendEmailInputModel

<input id="resend-email-record-id" asp-for="ResendEmailRecordId" value="@Model.ResendEmailRecordId" hidden>
<a id="trigger-resend-email" class="d-block text-start mt-2">Resend Email</a>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/js/resend-email.js"></script>
