<div class="text-break">
    <h1>Privacy Policy</h1>

    <p class="pt-3">Bonic Initiatives Inc. respects your privacy with the utmost sincerity.</p>

    <p>We follow any Canadian privacy laws that apply to us. Our privacy policy is <a href="https://www.priv.gc.ca/en/privacy-topics/privacy-laws-in-canada/the-personal-information-protection-and-electronic-documents-act-pipeda/pipeda_brief/">Personal Information Protection and Electronic Documents Act (PIPEDA)</a> compliant. We have listed our privacy policy as follows.</p>

    <div class="pt-3">
        <h3>1. Accountability</h3>

        <div class="pt-2">
            <p>Our president, Md Mahidul Haque Alvi, is responsible to ensure proper handling, usage and safeguarding of your privacy and any personal information.</p>
            
            <p>If you have any question/issues regarding your privacy, please direct them to him by email (service@bonicinitiatives.biz).</p>
        </div>
    </div>

    <div class="pt-3">
        <h3>2. What personal information do we collect?</h3>

        <div class="pt-2">
            <p>We collect the following information from you to provide service when you use our sites <a href="https://bonicinitiatives.biz">https://bonicinitiatives.biz</a> and <a href="https://teamadha.com">https://teamadha.com</a>.</p>

            <p>Information we collect from <strong>https://bonicinitiatives.biz</strong></p>

            <div class="ps-4 pt-2">
                <h5>2.1 Email</h5>
            
                <p>We collect your email for the following reasons:</p>

                <ul>
                    <li>To create your account.</li>

                    <li>To provide services relating to your account such as confirming your email and resetting your authenticator and providing two factor authentication service via email.</li>

                    <li>To send you emails about any important updates and changes to our sites, services, privacy policy and terms and conditions.</li>

                    <li>To send you emails to communicate information and updates from services belonging to Bonic Initiatives Inc.</li>
                </ul>
            </div>

            <div class="ps-4 py-2">
                <h5>2.2 First name and last name</h5>

                <p>We collect your first name and last name to communicate with you properly via email, show our sites properly and to provide our services to you.</p>
            </div>

            <p>Information we collect from <strong>https://teamadha.com</strong></p>

            <div class="ps-4 pt-2">
                <h5>2.3 Phone numbers</h5>

                <p>We collect your phone number and your order recipient’s phone number. These numbers help us contact the order recipient and you, regarding any changes, updates or issues with your order and to deliver your order correctly.</p>
            </div>

            <div class="ps-4 pt-2">
                <h5>2.4 Delivery address</h5>

                <p>We collect your delivery address to determine eligibility of your order and to deliver it.</p>
            </div>

            <div class="ps-4 pt-2">
                <h5>2.5 Names</h5>

                <p>We collect the recipient name for your order to properly communicate with the person so we can deliver your order.</p>

                <p>We also collect names for sacrifice for your order. These names are necessary to determine eligibility of your order and to provide you with Team Adha services.</p>
            </div>
        </div>
    </div>

    <div class="pt-3">
        <h3>3. Who do we share your personal information with?</h3>

        <div class="pt-2">
            <p>We don’t share your personal information with any 3rd parties. In fact, we don’t use any analytics software to track your activities on our sites.</p>
            
            <p>To properly provide you with our services, we share your personal information internally with our sites. Note, this is done with your consent. Every time you login to use any of our sites, your express consent is required for the use of personal information.</p>
        
            <p>Details about how we share them are listed below.</p>

            <p>For information we collected from <strong>https://bonicinitiatives.biz</strong></p>

            <div class="ps-4 pt-2">
                <h5>3.1 Email</h5>

                <p>Administrative employees assigned to the https://bonicinitiatives.biz site and who are residents of Canada and currently residing in Canada, can view your email to perform administrative operations such as blocking, unblocking or deleting your account.</p>
            
                <p>We also share your email with our Team Adha Administrative site (https://administrative.teamadha.com), to communicate important information and updates about your orders and inquiries for the Team Adha service with you via emails.</p>

                <p>Team Adha Administrative is a web application to manage and provide the services you get from https://teamadha.com.</p>

                <p>Sharing the email with Team Adha Administrative is done via machine to machine communication with https://bonicinitiatives.biz, which is automatic and internal. Bonic Initiatives Inc. employees assigned to the Team Adha Administrative site cannot view your email.</p>

                <p>As a result, your email will be unknown to the employee assigned to the Team Adha Administrative site, who might call you if you have an order for the Team Adha service. This is intentional and helps restrict the disclosure of your personal information.</p>
            </div>

            <div class="ps-4 pt-2">
                <h5>3.2 First name and last name</h5>

                <p>Administrative employees assigned to the https://bonicinitiatives.biz site and who are residents of Canada and currently residing in Canada, can view your first name and last name to perform administrative operations such as blocking, unblocking or deleting your account.</p>

                <p>We also share your first name and last name with our Team Adha Administrative site (https://administrative.teamadha.com), to communicate important information and updates about your orders and inquiries for the Team Adha service with you via emails.</p>

                <p>Team Adha Administrative is a web application to manage and provide the services you get from https://teamadha.com.</p>

                <p>Sharing the email with Team Adha Administrative is done via machine to machine communication with https://bonicinitiatives.biz, which is automatic and internal. Bonic Initiatives Inc. employees assigned to the Team Adha Administrative site cannot view your first name or last name.</p>

                <p>As a result, your first name and last name will be unknown to the employee assigned to the Team Adha Administrative site, who might call you if you have an order for the Team Adha service. This is intentional and helps restrict the disclosure of your personal information.</p>
            </div>

            <p>For information we collected from <strong>https://teamadha.com</strong></p>

            <div class="ps-4 pt-2">
                <h5>3.3 Phone numbers</h5>

                <p>Administrative employees assigned to https://administrative.teamadha.com site will be able to view the phone numbers provided with your order on https://teamadha.com. This is required to communicate with you when performing delivery of your order.</p>

                <p>On the other hand, administrative employees assigned to https://bonicinitiatives.biz site won’t be able to see these phone numbers. This is intentional and helps to restrict disclosure of your personal information.</p>
            </div>

            <div class="ps-4 pt-2">
                <h5>3.4 Delivery address</h5>

                <p>Administrative employees assigned to https://administrative.teamadha.com site will be able to view the delivery address you provided with your order on https://teamadha.com. This is required to deliver your order correctly.</p>

                <p>The administrative employees assigned to https://bonicinitiatives.biz site won’t be able to see the delivery address. This is intentional and helps to restrict disclosure of your personal information.</p>
            </div>

            <div class="ps-4 pt-2">
                <h5>3.5 Names</h5>

                <p>Administrative employees assigned to https://administrative.teamadha.com site will be able to view the recipient name and names for sacrifice you provided with your order on https://teamadha.com. This is required to determine eligibility of your order, provide you Team Adha services and communicate with the recipient to deliver your order.</p>

                <p>The administrative employees assigned to https://bonicinitiatives.biz site won’t be able to see the delivery address. This is intentional and helps to restrict usage of your personal information.</p>
            </div>
        </div>
    </div>

    <div class="pt-3">
        <h3>4. Can any Bonic Initiatives Inc. employee access your personal information?</h3>

        <div class="pt-2">
            <p>For information we collected from <strong>https://bonicinitiatives.biz</strong></p>

            <div class="ps-4 pt-2">
                <h5>4.1 Emails, first name and last name</h5>

                <p>Only an administrative employee assigned to handle administrative operations in https://bonicinitiatives.biz can view this information. This is a person who is a Canadian resident and currently resides in Canada.</p>

                <p>Whenever any employee accesses records of a user, the information is logged to keep records of which employee is accessing which user’s data. This helps us investigate and take proper action in the event the employee accesses user data improperly, without a valid reason.</p>
            </div>

            <p>For information we collected from <strong>https://teamadha.com</strong></p>

            <div class="ps-4 pt-2">
                <h5>4.2 Phone numbers, delivery address and names</h5>

                <p>Only administrative employees who are assigned to https://administrative.teamadha.com with level 1 access, and who are Canadian residents and currently reside in Canada can view your phone number you provided with your order.</p>

                <p>Any administrative employee assigned to https://administrative.teamadha.com can view your order recipient’s name, recipient’s phone number and the order delivery address, if they have the proper permission levels granted by the admin of the Team Adha service branch. This is required to provide you with Team Adha services.</p>
            </div>
        </div>
    </div>

    <div class="pt-3">
        <h3>5. How long do we keep your personal information?</h3>

        <div class="pt-2">
            <p>For information we collected from <strong>https://bonicinitiatives.biz</strong></p>

            <div class="ps-4 pt-2">
                <h5>5.1 Email, first name and last name</h5>

                <p>We store this information as long as you have an account with us in https://bonicinitiatives.biz.</p>

                <p>If you wish to delete your account with us, please email us to this address service@bonicinitiatives.biz. After deleting your account, you will lose access to all our services for that account and all your data will be deleted.</p>
            </div>

            <p>For information we collected from <strong>https://teamadha.com</strong></p>

            <div class="ps-4 pt-2">
                <h5>5.2 Phone numbers, delivery address and names</h5>

                <p>We store this data until 1 year after the event of Eid al-Adha of the year of the order date. After 1 year, this data will be deleted from our records and past orders will no longer be available when you sign in to https://teamadha.com and go to the orders page.</p>

                <p>This is done to ensure we only retain information that we deem strictly necessary and to minimize risks associated with improper access to our systems and databases.</p>

                <p>Note, we enforce the strictest measures to protect your data from malicious parties. See below for more details.</p>
            </div>
        </div>
    </div>

    <div class="pt-3">
        <h3>6. How do we store your data?</h3>

        <div class="pt-2">
            <p>We store the data you give us in an encrypted format to prevent access to your data in the event of unauthorized database access by malicious users. When the data is encrypted, malicious users cannot read the data.</p>
        </div>
    </div>

    <div class="pt-3">
        <h3>7. Where do we store your data?</h3>

        <div class="pt-2">
            <p>We store all your data in databases deployed inside Canada and our websites are also hosted in servers inside Canada.</p>
        </div>
    </div>

    <div class="pt-3">
        <h3>8. What type of authentication method do we use?</h3>

        <div class="pt-2">
            <p>Whenever you sign in to our sites, you will be redirected to https://bonicinitiatives.biz, where you will need to enter a Time Based One Time Password (TOTP) code from your authenticator to sign in if you are not already signed in.</p>

            <p>These codes are automatically generated from your authenticator and changed every 30 seconds. This mitigates vulnerabilities associated with a stolen or compromised password and is extremely secure.</p>

            <p>We still recommend enabling two factor authentication via email once you sign in to https://bonicinitiatives.biz.</p>
        </div>
    </div>

    <div class="pt-3">
        <h3>9. How often do we update our sites?</h3>

        <div class="pt-2">
            <p>Our sites are regularly updated to protect against newer threats and vulnerabilities.</p>
        </div>
    </div>

    <div class="pt-3">
        <h3>10. Do we use 3rd party hosted captcha solutions?</h3>

        <div class="pt-2">
            <p>No, we do not use 3rd party hosted captcha solutions.</p>
        </div>
    </div>

    <div class="pt-3">
        <h3>11. Do we use cookies?</h3>

        <div class="pt-2">
            <p>Yes, we use strictly necessary cookies such as authentication cookies, anti-forgery cookies and temporary cookies. These cookies are encrypted and secure.</p>

            <p>Authentication cookies are required to persist the user session between requests. Anti-forgery cookies are required to protect against cross-site request forgery. And temporary cookies serve as information storage instead of a database, persisting till the next page refresh on our site.</p>

            <p>These cookies are essential for our sites to work.</p>

            <p>We do not use any 3rd party or tracking cookies.</p>
        </div>
    </div>

    <div class="py-3">
        <h3>11. Can you access the information you give us?</h3>

        <div class="pt-2">
            <p>Yes, you can access the information you give us upon request. To access, send us an email with your request to the address service@bonicinitiatives.biz.</p>

            <p>Our president, Md Mahidul Haque Alvi is currently in charge of access requests and will be happy to assist you. We will respond within 30 days to provide you access to your information.</p>

            <p>If you have any complaints regarding your personal information, please reach out to him via an email to the address service@bonicinitiatives.biz.</p>
        </div>
    </div>
</div>
