<h1>Welcome to the Administrative Dashboard</h1>

<div class="container mt-5">
  <div class="row">
    <div class="col col-lg-6 col-sm-12">
        <a asp-area="Administration" asp-controller="Users" asp-action="Index">Manage Users</a>
    </div>
    <div class="col col-lg-6 col-sm-12">
        <a asp-area="Administration" asp-controller="Roles" asp-action="Index">Manage Roles</a>
    </div>
  </div>
</div>
