
@{
    ViewData["Title"] = "Reset TOTP Access";
    bool userSignedIn = User.Identity.IsAuthenticated;
}

<p>Reset TOTP access</p>

@{
    if (!userSignedIn) {
        <partial name="Shared/_InitiateUnauthenticatedEmailChallenge" />
    }
    else
    {
        <partial name="Shared/_InitiateAuthenticatedEmailChallenge" />
    }
}
