
@{
    ViewData["Title"] = "Reset TOTP Access Prompt";
    bool userSignedIn = User.Identity.IsAuthenticated;
}

<p>Reset TOTP access prompt</p>


<p>Did you lose access to your TOTP authenticator?</p>

<div class="mt-3 mx-auto">
    @if (userSignedIn)
    {
        <a asp-action="InitiateAuthenticatedRecovery" asp-controller="ResetTOTPAccess" asp-area="Access">Reset TOTP Access</a>
    }
    else
    {
        <a asp-action="InitiateUnauthenticatedRecovery" asp-controller="ResetTOTPAccess" asp-area="Access">Reset TOTP Access</a>
    }
</div>
