
@{
    ViewData["Title"] = "Reset TOTP Authenticator Successful";
}

<p>You have successfully reset your TOTP access.</p>
<p>Using a TOTP based login helps us keep your data safer. Learn more about how we keep your data safe, here.</p>
<p>Please use your email & TOTP code generated from the authenticator app to sign in with us from now on.</p>
<p>If you lose access to your authenticator app, select ‘Reset TOTP Access’ from the sign in page.</p>

<div class="mt-4">
    <div class="d-grid col-6 mt-3 mx-auto">
        <button type="button" class="btn btn-secondary btn-md">Continue</button>
    </div>
</div>
