@model InitiateTOTPAccessRecoveryChallengeInputModel

<p>Please enter your email below.</p>

<form
    asp-area="Access"
    asp-controller="ResetTOTPAccess"
    asp-action="InitiateTOTPAccessRecoveryChallenge"
    method="post"
>
    <div class="mt-4">
        <label for="email-address-input" class="form-label">Enter email address</label>
        <input type="email" class="form-control" id="email-address-input" asp-for="Email">

        <div class="d-grid col-6 mt-3 mx-auto">
            <button type="submit" class="btn btn-secondary btn-md">Continue</button>
        </div>
    </div>
</form>
