<p>To keep your account safe, we need to verify its you. Please enter one of the TOTP access recovery codes in the next page to complete verification.</p>

<form
    asp-area="Access"
    asp-controller="ResetTOTPAccess"
    asp-action="InitiateTOTPAccessRecoveryChallenge"
    method="post"
>
    <div class="mt-4">
        <div class="d-grid col-6 mt-3 mx-auto">
            <button type="submit" class="btn btn-secondary btn-md">Continue</button>
        </div>
    </div>
</form>