@model SignInInputModel
@{
    ViewData["Title"] = "Sign In";
}

<h1>Welcome</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form
    asp-area="Access"
    asp-controller="Authentication"
    asp-action="SignIn"
    method="post"
>
    <div class="mt-4">
        <label for="email-address-input" class="form-label">Enter email address</label>
        <input type="email" class="form-control" id="email-address-input" asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>

        <label for="totp-code-input" class="form-label">Enter TOTP code</label>
        <input type="integer" class="form-control" id="totp-code-input" asp-for="TOTPCode">

        <div class="mt-3">
            <a asp-action="InitiateEmailChallenge" asp-controller="ResetTOTPAccess" asp-area="Access">Reset TOTP Access</a>
        </div>

        <span asp-validation-for="TOTPCode" class="text-danger"></span>

        <div class="d-grid col-6 mt-3 mx-auto">
            <button type="submit" class="btn btn-secondary btn-md">Sign In</button>
        </div>
    </div>
</form>
