@model BlockUserInputModel

<form
    asp-area="Administration"
    asp-controller="Users"
    asp-action="Unblock"
    method="post"
>
    <input type="text" asp-for="Id" value="@Model.Id" hidden>
    <span asp-validation-for="Id" class="text-danger"></span>

    <div class="d-grid col-6 mx-auto">
        <button type="submit" class="btn btn-secondary btn-md">Unblock</button>
    </div>
</form>
