@model UserDetailsViewModel
@{
    PropertyInfo[] viewModelProperties = Model.GetType().GetProperties();

    object GetPropertyValue(PropertyInfo property)
    {
        object propertyValue = property.GetValue(Model);

        if (property.PropertyType == typeof(DateTime))
        {
            string propertyValueString = propertyValue.ToString().ToUpper();

            return $"{propertyValueString} UTC";
        }

        return propertyValue;
    }
}

<div class="mb-3">
    <a asp-area="Administration" asp-controller="Users" asp-action="Index">Back To User Management</a>
</div>

<h1>User Details</h1>

<div class="container my-5">
    <table id="enable-datatables" class="table table-hover">
        <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (PropertyInfo property in viewModelProperties)
            {
                <tr>
                    <td>@property.Name</td>
                    <td>@GetPropertyValue(property)</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row mt-3 text-center">
        <div class="col">
            <a asp-action="Edit" asp-controller="Users" asp-area="Administration" asp-route-id="@Model.Id" class="btn btn-info">Edit</a>
        </div>
        <div class="col">
            <a href="#" class="btn btn-warning">Block</a>
        </div>
        <div class="col">
            <a href="#" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>

@section scripts {
    <link rel="stylesheet" type="text/css" href="~/lib/datatables.net/datatables.min.css"/>
    <script type="text/javascript" charset="utf8" src="~/lib/datatables.net/datatables.min.js"></script>
    <script type="text/javascript" src="~/js/initiate-jquery-datatable.js"></script>
}
