@model RevokeGrantInputModel

<form
    asp-area="Access"
    asp-controller="Grants"
    asp-action="Index"
    method="post"
>
    <input type="hidden" name="clientId" value="@Model.ClientId">
    <button class="btn btn-danger">Revoke Access</button>
</form>
