
@{
    ViewData["Title"] = "Change Email";
}

<p>Change your primary email address.</p>

<p>Note, this will require resetting your current authenticator access.</p>

<div class="mt-4">
    <div class="d-grid col-6 mt-3 mx-auto">
        <button type="button" class="btn btn-secondary btn-md">Continue</button>
    </div>
</div>
