@{
    string captchaSiteKey = null;

    bool captchaSiteKeyExists = TempData.TryGetValue(
        TempDataKeys.CloudflareCaptchaSiteKey,
        out object captchaSiteKeyTempData
    );

    if (captchaSiteKeyExists)
    {
        captchaSiteKey = (string)captchaSiteKeyTempData;
    }
}

<div class="cf-turnstile" data-sitekey="@captchaSiteKey" data-callback="javascriptCallback"></div>
