<dnt-captcha
    asp-captcha-generator-max="30"
    asp-captcha-generator-min="11"
    asp-captcha-generator-language="English"
    asp-captcha-generator-display-mode="NumberToWord"
    asp-use-relative-urls="true"
    asp-placeholder="Captcha code as a number"
    asp-validation-error-message="Please enter the captcha code as a number."
    asp-font-name="Liberation Sans"
    asp-font-size="20"
    asp-fore-color="#333333"
    asp-back-color="#FCF6F5FF"
    asp-text-box-class="form-control"
    asp-text-box-template="<div class='input-group mt-3'><span class='input-group-text'><span class='bi-lock'></span></span>{0}</div>"
    asp-validation-message-class="text-danger"
    asp-refresh-button-class="bi-arrow-counterclockwise btn-lg"
    asp-show-refresh-button="false"
    asp-dir="ltr"
/>
