@{
    bool userSignedIn = User.Identity.IsAuthenticated;

    string currentRoute = @Url.RouteUrl(ViewContext.RouteData.Values)?.ToLower();
    string signOutRoute = "/access/authentication/signout";

    string signOutUrl = Url.Action("signout", "authentication", new { Area = "access" });

    bool showSignOutButton = currentRoute != signOutRoute;
}

@if (userSignedIn && showSignOutButton) {
    <div class="mt-1 mb-3 pt-1 pb-3">
        <a href="@signOutUrl">Sign Out</a>
    </div>
}
else
{
    <div class="mt-5 pt-4"></div>
}