@{
    string errorMessage = null;

    bool errorMessageExists = TempData.TryGetValue(
        TempDataKeys.ErrorMessage,
        out object errorMessageTempData
    );

    if (errorMessageExists)
    {
        errorMessage = (string)errorMessageTempData;
    }

    string successMessage = null;

    bool successMessageExists = TempData.TryGetValue(
        TempDataKeys.SuccessMessage,
        out object successMessageTempData
    );

    if (successMessageExists)
    {
        successMessage = (string)successMessageTempData;
    }
}

@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="w-75 mx-auto text-center alert alert-danger alert-dismissible fade show p-0" role="alert">
        @errorMessage
        <i data-bs-dismiss="alert" aria-label="Close Icon Button" class="btn btn-sm bi bi-x fs-4"></i>
    </div>
}
else if (!string.IsNullOrWhiteSpace(successMessage))
{
    <div class="w-75 mx-auto text-center alert alert-success alert-dismissible fade show p-0" role="alert">
        @successMessage
        <i data-bs-dismiss="alert" aria-label="Close Icon Button" class="btn btn-sm bi bi-x fs-4"></i>
    </div>
}
