@model IndexViewModel


<div class="container">
  <div class="row">
    <div class="col col-lg-6 col-sm-12">
        <p>Application Roles:</p>
        <ol>
            @foreach (IdentityRole role in Model.Roles)
            {
                <li>
                    <a asp-area="Administration" asp-controller="Roles" asp-action="Details" asp-route-id="@role.Id">@role.Name</a>
                </li>
            }
        </ol>
    </div>
    <div class="col col-lg-6 col-sm-12">
        <p>
          <a asp-area="Administration" asp-controller="Roles" asp-action="Create">Create New Role</a>
        </p>
    </div>
  </div>
</div>
