@model IndexViewModel


<div class="container">
  <h1 class="mb-5">Application Roles</h1>

  <div class="row">
    <div class="col">
        <ol>
            @foreach (RoleViewModel role in Model.Roles)
            {
                <li>
                    <a asp-area="Administration" asp-controller="Roles" asp-action="Details" asp-route-id="@role.Id">@role.Name</a>
                </li>
            }
        </ol>
    </div>
    <div class="col">
        <p>
          <a asp-area="Administration" asp-controller="Roles" asp-action="Create">Create New Role</a>
        </p>
    </div>
  </div>
</div>
